USE [master]
GO
/****** Object:  Database [UniManagementSys]    Script Date: 11/9/2025 3:46:15 PM ******/
CREATE DATABASE [UniManagementSys]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniManagementSys', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UniManagementSys.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniManagementSys_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UniManagementSys_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniManagementSys].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniManagementSys]
GO
/****** Object:  UserDefinedFunction [dbo].[AverageScore]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AverageScore]
(@MidTermScore AS INT,
@FinalExamScore AS INT,
@ProjectScore AS INT)
RETURNS INT
AS 
BEGIN
DECLARE @AverageScore AS INT
SET @AverageScore=(@MidTermScore*0.3+@FinalExamScore*0.5+@ProjectScore*0.2)
RETURN @AverageScore
END
GO
/****** Object:  UserDefinedFunction [dbo].[LetterGrade]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[LetterGrade] (@AverageScore AS DECIMAL(5, 2))
RETURNS CHAR(2)
AS
BEGIN
    DECLARE @LetterGrade CHAR(2);

    IF @AverageScore >= 90 SET @LetterGrade = 'AA';
    ELSE IF @AverageScore >= 85 SET @LetterGrade = 'BA';
    ELSE IF @AverageScore >= 80 SET @LetterGrade = 'BB';
    ELSE IF @AverageScore >= 75 SET @LetterGrade = 'CB';
    ELSE IF @AverageScore >= 70 SET @LetterGrade = 'CC';
    ELSE IF @AverageScore >= 65 SET @LetterGrade = 'DC';
    ELSE IF @AverageScore >= 60 SET @LetterGrade = 'DD';
    ELSE IF @AverageScore >= 50 SET @LetterGrade = 'FD';
    ELSE SET @LetterGrade = 'FF';

    RETURN @LetterGrade;
END
GO
/****** Object:  UserDefinedFunction [dbo].[PassFailStatus]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PassFailStatus]
(@letterGrade AS VARCHAR(2))
RETURNS VARCHAR(25)
AS 
BEGIN
DECLARE @PassFailStatus AS VARCHAR(25)
SET @letterGrade = UPPER(@letterGrade);
IF @letterGrade IN ('FF', 'FD', 'NA')
  SET @PassFailStatus = 'You failed the term'
ELSE 
  SET @PassFailStatus='You passes the term'
RETURN @PassFailStatus;
END
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[studentID] [int] IDENTITY(1,1) NOT NULL,
	[studentName] [varchar](25) NOT NULL,
	[studentSurname] [varchar](25) NOT NULL,
	[BirthDate] [date] NULL,
	[StudentEmail] [varchar](100) NULL,
	[studentFaculty] [varchar](50) NOT NULL,
	[GPA_Current] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LESSONS]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LESSONS](
	[lesson_ID] [int] IDENTITY(1,1) NOT NULL,
	[lessonCode] [varchar](30) NULL,
	[lesson_name] [varchar](100) NULL,
	[lesson_credit] [int] NOT NULL,
	[profID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[lesson_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENROLLMENTS]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENROLLMENTS](
	[enrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[lesson_ID] [int] NOT NULL,
	[enrollmentYear] [int] NOT NULL,
	[enrollmentTerm] [nvarchar](10) NOT NULL,
	[enrolldate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ENR_STUDENT_LESSON_TERM] UNIQUE NONCLUSTERED 
(
	[studentID] ASC,
	[lesson_ID] ASC,
	[enrollmentYear] ASC,
	[enrollmentTerm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADES]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADES](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[MidtermScore] [int] NOT NULL,
	[FinalExamScore] [int] NOT NULL,
	[ProjectScore] [int] NULL,
	[AverageScore] [int] NULL,
	[LetterGrade] [char](2) NULL,
	[EnrollmentID] [int] NOT NULL,
	[PassFailStatus_]  AS ([dbo].[PassFailStatus]([letterGrade])),
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GRD_ENROLLMENT] UNIQUE NONCLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VWstudentGradePlan]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VWstudentGradePlan]
AS
SELECT CONCAT(S.studentName, ' ', S.studentSurname) AS FullName ,L.lesson_ID,L.lesson_name,L.lessonCode,
G.MidtermScore,G.FinalExamScore,G.ProjectScore,G.AverageScore
FROM Students S
JOIN ENROLLMENTS E ON S.studentID=E.studentID
JOIN LESSONS L ON E.lesson_ID=L.lesson_ID
JOIN GRADES G ON E.enrollmentID=G.EnrollmentID

GO
/****** Object:  Table [dbo].[ArchivedGrades]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchivedGrades](
	[GradeID] [int] NOT NULL,
	[MidtermScore] [int] NOT NULL,
	[FinalExamScore] [int] NOT NULL,
	[ProjectScore] [int] NULL,
	[AverageScore] [int] NULL,
	[LetterGrade] [char](2) NULL,
	[EnrollmentID] [int] NOT NULL,
	[ArchiveDate] [datetime] NULL,
 CONSTRAINT [PK_ArchivedGrades] PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogs]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorDate] [datetime] NULL,
	[ErrorProcedure] [nvarchar](128) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorLine] [int] NULL,
	[UserName] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HonorRoll]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HonorRoll](
	[HonorRollID] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NOT NULL,
	[GPA] [decimal](3, 2) NOT NULL,
	[Year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HonorRollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESSOR]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSOR](
	[profID] [int] IDENTITY(1,1) NOT NULL,
	[profName] [varchar](25) NOT NULL,
	[profSurname] [varchar](25) NOT NULL,
	[Position] [varchar](50) NULL,
	[profEmail] [varchar](100) NULL,
	[profDepartment] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[profID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArchivedGrades] ADD  DEFAULT (getdate()) FOR [ArchiveDate]
GO
ALTER TABLE [dbo].[ENROLLMENTS] ADD  DEFAULT (getdate()) FOR [enrolldate]
GO
ALTER TABLE [dbo].[ErrorLogs] ADD  DEFAULT (getdate()) FOR [ErrorDate]
GO
ALTER TABLE [dbo].[ErrorLogs] ADD  DEFAULT (suser_sname()) FOR [UserName]
GO
ALTER TABLE [dbo].[HonorRoll] ADD  DEFAULT (datepart(year,getdate())) FOR [Year]
GO
ALTER TABLE [dbo].[ENROLLMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ENR_LESSON] FOREIGN KEY([lesson_ID])
REFERENCES [dbo].[LESSONS] ([lesson_ID])
GO
ALTER TABLE [dbo].[ENROLLMENTS] CHECK CONSTRAINT [FK_ENR_LESSON]
GO
ALTER TABLE [dbo].[ENROLLMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ENR_STUDENT] FOREIGN KEY([studentID])
REFERENCES [dbo].[STUDENTS] ([studentID])
GO
ALTER TABLE [dbo].[ENROLLMENTS] CHECK CONSTRAINT [FK_ENR_STUDENT]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD  CONSTRAINT [FK_GRD_ENROLLMENT] FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[ENROLLMENTS] ([enrollmentID])
GO
ALTER TABLE [dbo].[GRADES] CHECK CONSTRAINT [FK_GRD_ENROLLMENT]
GO
ALTER TABLE [dbo].[HonorRoll]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[STUDENTS] ([studentID])
GO
ALTER TABLE [dbo].[LESSONS]  WITH CHECK ADD FOREIGN KEY([profID])
REFERENCES [dbo].[PROFESSOR] ([profID])
GO
/****** Object:  StoredProcedure [dbo].[SP_ARCHIVE_OLD_GRADES]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ARCHIVE_OLD_GRADES] (@CutoffYear INT)
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        
        -- 1. Arşivlenecek veriyi seçme ve tabloya ekleme
        -- EK NOT: ArchivedGrades tablonuzda 'ArchiveDate' olduğu için, 
        -- bu sütunu da INSERT listesine ve SELECT listesine eklemeliyiz.
        INSERT INTO ArchivedGrades (
            GradeID, 
            MidtermScore, 
            FinalExamScore, 
            ProjectScore, 
            AverageScore, 
            LetterGrade, 
            EnrollmentID,
            ArchiveDate -- ArchiveDate de eklenmeli
        )
        SELECT  
            G.GradeID, 
            G.MidtermScore, 
            G.FinalExamScore, 
            G.ProjectScore, 
            G.AverageScore, 
            G.LetterGrade, 
            G.EnrollmentID,
            GETDATE() AS ArchiveDate -- Mevcut tarih ekleniyor
        FROM GRADES G
        JOIN ENROLLMENTS E ON G.EnrollmentID = E.EnrollmentID
        WHERE E.enrollmentYear < @CutoffYear; -- Belirlenen yıldan eski olanlar

        -- 2. Arşivlenen veriyi GRADES tablosundan silme
        DELETE G
        FROM GRADES G
        JOIN ENROLLMENTS E ON G.EnrollmentID = E.EnrollmentID
        WHERE E.enrollmentYear < @CutoffYear;

        IF @@TRANCOUNT > 0
            COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Hata olursa ROLLBACK ve LOG tablosuna kayıt atma
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        -- THROW veya INSERT INTO ErrorLogs mantığı buraya gelir
        THROW; 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CALCULATE_STUDENTS_GPA_FILTERED]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULATE_STUDENTS_GPA_FILTERED] 
(
    @studentFaculty VARCHAR(50) = NULL,
    @EnrollmentYear INT = NULL,
    @ProfSurname VARCHAR(25) = NULL
) 
AS 
BEGIN
    -- TRY bloğu ile işlem başlar
    BEGIN TRANSACTION;
    BEGIN TRY
        
        -- 1. TempGPA tablosunu oluşturma/temizleme
        IF OBJECT_ID('tempdb..#TempGPA') IS NOT NULL
            DROP TABLE #TempGPA;
            
        CREATE TABLE #TempGPA (
            studentID INT PRIMARY KEY,
            NewGPA DECIMAL(3, 2)
        );

        -- 2. GPA hesaplaması ve TempGPA'ya ekleme (Kendi kodunuzdan alınmıştır)
        INSERT INTO #TempGPA (studentID, NewGPA)
        SELECT
            S.studentID,
            ROUND(
                SUM(
                    CASE LTRIM(RTRIM(G.LetterGrade))
                        WHEN 'AA' THEN 4.0
                        WHEN 'BA' THEN 3.5 
                        WHEN 'BB' THEN 3.0 
                        WHEN 'CB' THEN 2.5 
                        WHEN 'CC' THEN 2.0 
                        WHEN 'DC' THEN 1.5 
                        WHEN 'DD' THEN 1.0 
                        WHEN 'FD' THEN 0.5 
                        WHEN 'FF' THEN 0.0 
                        ELSE 0.0
                    END * L.lesson_credit
                ) * 1.0 / SUM(L.lesson_credit),
                2
            ) AS CalculatedGPA
        FROM STUDENTS S
        JOIN ENROLLMENTS E ON S.studentID = E.studentID
        JOIN LESSONS L ON E.lesson_ID = L.lesson_ID
        JOIN GRADES G ON E.enrollmentID = G.EnrollmentID
        LEFT JOIN PROFESSOR P ON L.profID = P.profID
        WHERE
            (@studentFaculty IS NULL OR S.studentFaculty = @studentFaculty)
            AND (@EnrollmentYear IS NULL OR E.enrollmentYear = @EnrollmentYear)
            AND (@ProfSurname IS NULL OR P.profSurname = @ProfSurname)
        GROUP BY
            S.studentID
        HAVING
            SUM(L.lesson_credit) > 0;

        -- 3. STUDENTS tablosunu güncelleme
        UPDATE S
        SET S.GPA_Current = T.NewGPA
        FROM STUDENTS S
        JOIN #TempGPA T ON S.studentID = T.studentID;

        -- 4. İşlem başarılıysa COMMIT
        IF @@TRANCOUNT > 0
            COMMIT TRANSACTION;

        -- 5. Başarılı olan öğrencileri listeleme (Opsiyonel)
        SELECT S.studentID, S.studentName, S.studentFaculty, S.GPA_Current
        FROM STUDENTS S
        JOIN #TempGPA T ON S.studentID = T.studentID
        ORDER BY S.studentID;

    END TRY
    BEGIN CATCH
        -- Hata oluşursa ROLLBACK
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Hata Kaydını LOG tablosuna ekleme
        INSERT INTO ErrorLogs (ErrorProcedure, ErrorMessage, ErrorSeverity, ErrorState, ErrorLine)
        VALUES (
            OBJECT_NAME(@@PROCID),
            ERROR_MESSAGE(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_LINE()
        );

        -- Hatanın kullanıcıya iletilmesi
        THROW; 
    END CATCH
    
    -- Temp tablonun temizlenmesi
    IF OBJECT_ID('tempdb..#TempGPA') IS NOT NULL
        DROP TABLE #TempGPA;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_HONOR_ROLL]    Script Date: 11/9/2025 3:46:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_HONOR_ROLL]
AS
BEGIN
    -- GNO'su 3.50 ve üstü olan öğrencileri HonorRoll tablosuna ekleme
    INSERT INTO HonorRoll (studentID, GPA)
    SELECT 
        S.studentID, 
        S.GPA_Current
    FROM STUDENTS S
    WHERE S.GPA_Current >= 3.50 -- Okul kuralınıza göre 3.50 veya 3.00
      AND NOT EXISTS (
        SELECT 1 FROM HonorRoll HR
        WHERE HR.studentID = S.studentID AND HR.Year = YEAR(GETDATE())
      );
END
-- Bu SP'yi, GPA hesaplandıktan hemen sonra çalıştırmalısınız.
GO
USE [master]
GO
